* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font01);
}

:root {
    --color01: #000000;
    --color02: #ffffff;
    --color03: #c89c5c;
    --color04: #adadad;
    --color05: rgba(200, 156, 92, 0.5);

    --font01: 'Oswald';
    --font02: 'Raleway';
    --font03: 'Times new roman';

    --font-size01: 20px;
    --font-size02: 30px;
    --font-size03: 40px;
    --font-size04: 12px;
    

    --thin: 100;
    --regular: 400;
    --medium: 500;
    --bold: 800;
}

em {
    font-style: normal;
}

  /* HEADER */


header {
    height: 100vh;
    background-image: url(img/h5-revolution-img-1.jpg);
}

.navbar {
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

ul {
    list-style: none;
    display: flex;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color02);
    padding: 20px;
    transition: 0.3ms;
}

.reseaux {
    display: flex;
}

.reseaux i, .reseaux a {
    color: var(--color02);
    padding: 10px;
    transition: 0.3ms;

}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    height: 80%;
}

li a:hover, .reseaux i:hover {
    opacity: 0.8;
}


/* SECTION CITATION */

#citation {
    background: var(--color03);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#citation p {
    text-transform: uppercase;
    color: var(--color02);
    font-weight: var(--bold);
    font-size: var(--font-size03);
    line-height: 40px;
}

/* SECTION TRADITIONS */

#traditions {
    /* height: 100vh; */
}

.beer {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 80px;
}

.images {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/h5-el-holder-img-1-1.jpg');
}

h2 {
    text-transform: uppercase;
    font-size: var(--font-size03);
    font-weight: var(--regular);
}

h4 {
    font-style: italic;
    font-family: var(--font03);
    font-weight: var(--thin);
}

.beer-p {
    font-family: var(--font02);
    color: var(--color04);
    font-size: var(--font-size04);
    text-align: center;
    padding: 15px 0;
}

button {
    padding: 8px 35px;
    background-color: var(--color03);
    color: var(--color02);
    border: none;
    text-transform: uppercase;
    transition: 0.3ms;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.pub {
    display: flex;
    flex-direction: row-reverse;

}


/* SECTION GALERIE */

#galerie {
    display: flex;
}

.img-galerie {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.figure-with-icon {
    position: relative;
    overflow: hidden;
}

.fa-plus {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotate(30deg); 
    color: var(--color02);
    font-size: 90px;
    font-weight: var(--thin);
    opacity: 0;
    transition: 0.3s;
} 

.figure-with-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.3s ease;
    z-index: -1;
}

.figure-with-icon:hover .img-galerie {
    cursor: pointer;    transform: scale(1.1);
}

.figure-with-icon:hover:after    {
    background-color: var(--color05);
    z-index: 1;
}

.figure-with-icon:hover .fa-plus {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg); 
}

/* SECTION SERVICES */

#services {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.service-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-transform: uppercase;
    padding-top: 10px;
    transition: 0.3s;
}

.service-icon:hover h3 {
    color: var(--color03);
}



/* SECTION PARALLAXE */

#parallaxe {
    background-image: url('img/h5-parallax-img-2.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    padding: 80px 0; 
    text-align: center;
    color: var(--color02)
}

.parallaxe-p {
    color: var(--color04);
    padding-top: 5px;
    font-weight: var(--thin);
}

.maps {
    width: 100%;
    display: block; 
}


/* FOOTER */

footer {
    height: 100px;
    background-color: var(--color01);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */

.burger {
    display: none;
}

@media only screen and (max-width : 1024px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        min-height: 50vh;
        position: absolute;
        top: 76px;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: all .5s ease-in-out;
        z-index: 1;
        text-align: center;
        overflow: hidden;
    }

    .navbar {
        padding: 20px 50px;
    }

    .show-nav .navbar-links {
        width: 100%;
    }       

    .navbar-link {
        transform: translateX(101%);
    }

    .show-nav .navbar-link {
        transform: translateX(0);
    }

    .navbar-links a {
        display: block;
        padding: 1rem;
        font-size: 50px;
        transition: all .4s ease-in-out;
    }

    .navbar-link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    /* toggle menu */

    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: white;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: white;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
    .hero-img {
        height: 60%;
    }
    #citation p {
        font-size: var(--font-size01);
    }
    .beer {
        flex-direction: column;
    }
    .text, .images {
        width: 100%;
    }
    .pub {
        flex-direction: column;
    }
    #galerie {
        flex-wrap: wrap;
    }
    .figure-with-icon {
        width: 50%;
    }
    #services {
        flex-wrap: wrap;
    }
    .beer-p {
        font-size: var(--font-size01);
    }
    h4, h3 {
        font-size: var(--font-size02);
    }
    button {
        padding: 20px 60px;
        font-size: var(--font-size01);
    }

    @media only screen and (max-width : 400px) {
        .reseaux {
            display: none;
        }
        .hero-img {
            height: 50%;
        }
        header, .hero {
            height: 50vh;
        }
        #citation {
            height: 350px;
            text-align: center;
            padding: 20px;
        }
        .text {
            padding: 20px;
        }
        h4 {
            text-align: center;
            padding: 10px 0;
        }
        .images figure{
            display: flex;
            justify-content: center;
        }
        .images img {
            width: 80%;
        }
        .figure-with-icon {
            width: 100%;
        }
        #services {
            padding: 20px;
        }
    }
}